node_modules/
.next/
out/
build/
coverage/
.env
.env.*
!.env.example
!docker/.env.dev.example
!docker/.env.prod.example
*.log
*.tsbuildinfo
.DS_Store
.idea

/src/generated/prisma
docker/.env.dev
docker/.env.prod
docs/learning/
